version: '3.9'
services:
  app:
    build: .
    depends_on:
      - postgres
    ports:
      - '3000:3000'
  postgres:
    image: 'postgres'
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: teacher_course
